body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score {
    display: flex;
    margin: 20px;
    gap: 20px;
}

#player, #computer {
    flex: 1;
    font-size: 40px;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
}